# Node.js dependencies
backend/node_modules/
backend/package-lock.json

# Environment variables
backend/.env

# Logs
backend/npm-debug.log*
backend/yarn-debug.log*
backend/yarn-error.log*

# Database and temporary files
backend/*.sqlite
backend/*.log
.DS_Store
backend/.DS_Store
admin/.DS_Store
customer/.DS_Store
images/.DS_Store
trainer/.DS_Store
